apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-webapp
  template:
    metadata:
      labels:
        app: react-webapp
    spec:
      containers:
      - name: react-container
        image: rakeshgowda1997/webapp-demo:01
        imagePullPolicy: Always
        ports:
        - containerPort: 80

